:root{
    --border: rgb(41, 41, 41);
    --color-lines: rgb(190, 45, 45);
    --cat-color: rgb(173, 161, 161);
    --grid-size: 15px;
    --pupil-color: rgb(63, 132, 23);
    --ears-color: rgb(243, 173, 185);
    --secundary-color: rgb(246, 236, 236);
    --eyes-color: rgb(223, 223, 223);
    --moustache: rgb(75, 24, 1);
    --language: rgb(233, 7, 7);
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(50, var(--grid-size));
    grid-template-rows: repeat(80, var(--grid-size));
}

.sub-1{
    background-color: var(--border);
    grid-column: 1 / 2;
}

/* --------- Row-1 --------- */
.row-1{
    background-color: var(--border);
    grid-row: 1;
    grid-column: 29 / 33;
}
/* --------- End Row-1 --------- */

/* --------- Row-2 --------- */
.row-2{
    display: inherit;
    grid-row: 2;
    grid-column: 28 / 34;
}
.row-2 > .sub-2{
    background-color: var(--color-lines);
    grid-column: 2 / 6;
}
.row-2 > .sub-3{
    background-color: var(--border);
    grid-column: 6 / 7;
}
/* --------- End Row-2 --------- */

/* --------- Row-3 --------- */
.row-3{
    display: inherit;
    grid-row: 3;
    grid-column: 27 / 34;

}
.row-3 > .sub-2{
    background-color: var(--color-lines);
    grid-column: 2 / 7;
}
.row-3 > .sub-3{
    background-color: var(--border);
    grid-column: 7 / 8;
}
/* --------- End Row-3 --------- */

/* --------- Row-4 --------- */
.row-4{
    display: inherit;
    grid-row: 4;
    grid-column: 26 / 34;
}
.row-4 > .sub-2{
    background-color: var(--color-lines);
    grid-column: 2 / 8;
}
.row-4 > .sub-3{
    background-color: var(--border);
    grid-column: 8 / 9;
}
/* --------- End Row-4 --------- */

/* --------- Row-5 --------- */
.row-5{
    display: inherit;
    grid-row: 5;
    grid-column: 25 / 33;
}
.row-5 > .sub-2{
    background-color: var(--color-lines);
    grid-column: 2 / 8;
}
.row-5 > .sub-3{
    background-color: var(--border);
    grid-column: 8 / 9;
}
/* --------- End Row-5 --------- */

/* --------- Row-6 --------- */
.row-6{
    display: inherit;
    grid-row: 6;
    grid-column: 24 / 32;
}
.row-6 > .sub-2{
    background-color: var(--color-lines);
    grid-column: 2 / 8;
}
.row-6 > .sub-3{
    background-color: var(--border);
    grid-column: 8 / 9;
}
/* --------- End Row-6 --------- */

/* --------- Row-7 --------- */
.row-7{
    display: inherit;
    grid-row: 7;
    grid-column: 23 / 31;
}
.row-7 > .sub-2{
    background-color: var(--cat-color);
    grid-column: 2 / 4;
}
.row-7 > .sub-3{
    background-color: var(--color-lines);
    grid-column: 4 / 8;
}
.row-7 > .sub-4{
    background-color: var(--border);
    grid-column: 8 / 9;
}
/* --------- End Row-7 --------- */

/* --------- Row-8 --------- */
.row-8{
    display: inherit;
    grid-row: 8;
    grid-column: 22 / 30;
}
.row-8 > .sub-2{
    background-color: var(--cat-color);
    grid-column: 2 / 7;
}
.row-8 > .sub-3{
    background-color: var(--color-lines);
    grid-column: 7 / 8;
}
.row-8 > .sub-4{
    background-color: var(--border);
    grid-column: 8 / 9;
}
/* --------- End Row-8 --------- */

/* --------- Row-9 --------- */
.row-9{
    display: inherit;
    grid-row: 9;
    grid-column: 22 / 29;
}
.row-9 > .sub-2{
    background-color: var(--cat-color);
    grid-column: 2 / 7;
}
.row-9 > .sub-3{
    background-color: var(--border);
    grid-column: 7 / 8;
}
/* --------- End Row-9 --------- */

/* --------- Row-10 --------- */
.row-10{
    display: inherit;
    grid-row: 10;
    grid-column: 21 / 29;
}
.row-10 > .sub-2{
    background-color: var(--cat-color);
    grid-column: 2 / 8;
}
.row-10 > .sub-3{
    background-color: var(--border);
    grid-column: 8 / 9;
}
/* --------- End Row-10 --------- */

/* --------- Row-11 --------- */
.row-11{
    display: inherit;
    grid-row: 11;
    grid-column: 21 / 28;
}
.row-11 > .sub-2{
    background-color: var(--color-lines);
    grid-column: 2 / 7;
}
.row-11 > .sub-3{
    background-color: var(--border);
    grid-column: 7 / 8;
}
/* --------- End Row-11 --------- */

/* --------- Row-12 --------- */
.row-12{
    display: inherit;
    grid-row: 12;
    grid-column: 21 / 28;
}
.row-12 > .sub-2{
    background-color: var(--color-lines);
    grid-column: 2 / 7;
}
.row-12 > .sub-3{
    background-color: var(--border);
    grid-column: 7 / 8;
}
/* --------- End Row-12 --------- */

/* --------- Row-13 --------- */
.row-13{
    display: inherit;
    grid-row: 13;
    grid-column: 1 / 50;
}
.row-13 > .sub-1{
    background-color: var(--border);
    grid-column: 2 / 5;
}
.row-13 > .sub-2{
    background-color: var(--border);
    grid-column: 21 / 22;
}
.row-13 > .sub-3{
    background-color: var(--color-lines);
    grid-column: 22 / 27;
}
.row-13 > .sub-4{
    background-color: var(--border);
    grid-column: 27 / 28;
}
.row-13 > .sub-5{
    background-color: var(--border);
    grid-column: 47 / 50;
}
/* --------- End Row-13 --------- */

/* --------- Row-14 --------- */
.row-14{
    display: inherit;
    grid-row: 14;
    grid-column: 1 / 51;
}
.row-14 > .sub-1{
    background-color: var(--border);
    grid-column: 1 / 3;
}
.row-14 > .sub-2{
    background-color: var(--cat-color);
    grid-column: 3 / 5;
}
.row-14 > .sub-3{
    background-color: var(--border);
    grid-column: 5 / 8;
}
.row-14 > .sub-4{
    background-color: var(--border);
    grid-column: 21 / 22;
}
.row-14 > .sub-5{
    background-color: var(--cat-color);
    grid-column: 22 / 27;
}
.row-14 > .sub-6{
    background-color: var(--border);
    grid-column: 27 / 28;
}
.row-14 > .sub-7{
    background-color: var(--border);
    grid-column: 44 / 47;
}
.row-14 > .sub-8{
    background-color: var(--cat-color);
    grid-column: 47 / 49;
}
.row-14 > .sub-9{
    background-color: var(--border);
    grid-column: 49 / 51;
}
/* --------- End Row-14 --------- */

/* --------- Row-15 --------- */
.row-15{
    display: inherit;
    grid-row: 15;
    grid-column: 1 / 51;
}
.row-15 > .sub-2{
    background-color: var(--cat-color);
    grid-column: 2 / 8;
}
.row-15 > .sub-3{
    background-color: var(--border);
    grid-column: 8 / 10;
}
.row-15 > .sub-4{
    background-color: var(--border);
    grid-column: 21 / 22;
}
.row-15 > .sub-5{
    background-color: var(--cat-color);
    grid-column: 22 / 27;
}
.row-15 > .sub-6{
    background-color: var(--border);
    grid-column: 27 / 28;
}
.row-15 > .sub-7{
    background-color: var(--border);
    grid-column: 42 / 44;
}
.row-15 > .sub-8{
    background-color: var(--cat-color);
    grid-column: 44 / 50;
}
.row-15 > .sub-9{
    background-color: var(--border);
    grid-column: 50 / 51;
}
/* --------- End Row-15 --------- */

/* --------- Row-16 --------- */
.row-16{
    display: inherit;
    grid-row: 16;
    grid-column: 1 / 51;
}
.row-16 > .sub-2{
    background-color: var(--cat-color);
    grid-column: 2 / 3;
}
.row-16 > .sub-3{
    background-color: var(--ears-color);
    grid-column: 3 / 4;
}
.row-16 > .sub-4{
    background-color: var(--cat-color);
    grid-column: 4 / 10;
}
.row-16 > .sub-5{
    background-color: var(--border);
    grid-column: 10 / 12;
}
.row-16 > .sub-6{
    background-color: var(--border);
    grid-column: 21 / 22;
}
.row-16 > .sub-7{
    background-color: var(--cat-color);
    grid-column: 22 / 27;
}
.row-16 > .sub-8{
    background-color: var(--border);
    grid-column: 27 / 28;
}
.row-16 > .sub-9{
    background-color: var(--border);
    grid-column: 40 / 42;
}
.row-16 > .sub-10{
    background-color: var(--cat-color);
    grid-column: 42 / 48;
}
.row-16 > .sub-11{
    background-color: var(--ears-color);
    grid-column: 48 / 49;
}
.row-16 > .sub-12{
    background-color: var(--cat-color);
    grid-column: 49 / 50;
}
.row-16 > .sub-13{
    background-color: var(--border);
    grid-column: 50 / 51;
}
/* --------- End Row-16 --------- */

/* --------- Row-17 --------- */
.row-17{
    display: inherit;
    grid-row: 17;
    grid-column: 1 / 51;
}
.row-17 > .sub-2{
    background-color: var(--cat-color);
    grid-column: 2 / 3;
}
.row-17 > .sub-3{
    background-color: var(--ears-color);
    grid-column: 3 / 5;
}
.row-17 > .sub-4{
    background-color: var(--cat-color);
    grid-column: 5 / 12;
}
.row-17 > .sub-5{
    background-color: var(--border);
    grid-column: 12 / 13;
}
.row-17 > .sub-6{
    background-color: var(--border);
    grid-column: 21 / 22;
}
.row-17 > .sub-7{
    background-color: var(--color-lines);
    grid-column: 22 / 27;
}
.row-17 > .sub-8{
    background-color: var(--border);
    grid-column: 27 / 28;
}
.row-17 > .sub-9{
    background-color: var(--border);
    grid-column: 39 / 40;
}
.row-17 > .sub-10{
    background-color: var(--cat-color);
    grid-column: 40 / 47;
}
.row-17 > .sub-11{
    background-color: var(--ears-color);
    grid-column: 47 / 49;
}
.row-17 > .sub-12{
    background-color: var(--cat-color);
    grid-column: 49 / 50;
}
.row-17 > .sub-13{
    background-color: var(--border);
    grid-column: 50 / 51;
}
/* --------- End Row-17 --------- */

/* --------- Row-18 --------- */
.row-18{
    display: inherit;
    grid-row: 18;
    grid-column: 1 / 51;
}
.row-18 > .sub-2{
    background-color: var(--cat-color);
    grid-column: 2 / 3;
}
.row-18 > .sub-3{
    background-color: var(--ears-color);
    grid-column: 3 / 7;
}
.row-18 > .sub-4{
    background-color: var(--cat-color);
    grid-column: 7 / 13;
}
.row-18 > .sub-5{
    background-color: var(--border);
    grid-column: 13 / 15;
}
.row-18 > .sub-6{
    background-color: var(--border);
    grid-column: 21 / 22;
}
.row-18 > .sub-7{
    background-color: var(--color-lines);
    grid-column: 22 / 27;
}
.row-18 > .sub-8{
    background-color: var(--border);
    grid-column: 27 / 28;
}
.row-18 > .sub-9{
    background-color: var(--border);
    grid-column: 37 / 39;
}
.row-18 > .sub-10{
    background-color: var(--cat-color);
    grid-column: 39 / 45;
}
.row-18 > .sub-11{
    background-color: var(--ears-color);
    grid-column: 45 / 49;
}
.row-18 > .sub-12{
    background-color: var(--cat-color);
    grid-column: 49 / 50;
}
.row-18 > .sub-13{
    background-color: var(--border);
    grid-column: 50 / 51;
}
/* --------- End Row-18 --------- */

/* --------- Row-19 --------- */
.row-19{
    display: inherit;
    grid-row: 19;
    grid-column: 1 / 51;
}
.row-19 > .sub-2{
    background-color: var(--cat-color);
    grid-column: 2 / 3;
}
.row-19 > .sub-3{
    background-color: var(--ears-color);
    grid-column: 3 / 8;
}
.row-19 > .sub-4{
    background-color: var(--cat-color);
    grid-column: 8 / 15;
}
.row-19 > .sub-5{
    background-color: var(--border);
    grid-column: 15 / 16;
}
.row-19 > .sub-6{
    background-color: var(--border);
    grid-column: 21 / 22;
}
.row-19 > .sub-7{
    background-color: var(--color-lines);
    grid-column: 22 / 27;
}
.row-19 > .sub-8{
    background-color: var(--border);
    grid-column: 27 / 28;
}
.row-19 > .sub-9{
    background-color: var(--border);
    grid-column: 36 / 37;
}
.row-19 > .sub-10{
    background-color: var(--cat-color);
    grid-column: 37 / 44;
}
.row-19 > .sub-11{
    background-color: var(--ears-color);
    grid-column: 44 / 49;
}
.row-19 > .sub-12{
    background-color: var(--cat-color);
    grid-column: 49 / 50;
}
.row-19 > .sub-13{
    background-color: var(--border);
    grid-column: 50 / 51;
}
/* --------- End Row-19 --------- */

/* --------- Row-20 --------- */
.row-20{
    display: inherit;
    grid-row: 20;
    grid-column: 1 / 51;
}
.row-20 > .sub-2{
    background-color: var(--cat-color);
    grid-column: 2 / 3;
}
.row-20 > .sub-3{
    background-color: var(--ears-color);
    grid-column: 3 / 10;
}
.row-20 > .sub-4{
    background-color: var(--cat-color);
    grid-column: 10 / 16;
}
.row-20 > .sub-5{
    background-color: var(--border);
    grid-column: 16 / 18;
}
.row-20 > .sub-6{
    background-color: var(--border);
    grid-column: 21 / 22;
}
.row-20 > .sub-7{
    background-color: var(--cat-color);
    grid-column: 22 / 27;
}
.row-20 > .sub-8{
    background-color: var(--border);
    grid-column: 27 / 28;
}
.row-20 > .sub-9{
    background-color: var(--border);
    grid-column: 34 / 36;
}
.row-20 > .sub-10{
    background-color: var(--cat-color);
    grid-column: 36 / 42;
}
.row-20 > .sub-11{
    background-color: var(--ears-color);
    grid-column: 42 / 49;
}
.row-20 > .sub-12{
    background-color: var(--cat-color);
    grid-column: 49 / 50;
}
.row-20 > .sub-13{
    background-color: var(--border);
    grid-column: 50 / 51;
}
/* --------- End Row-20 --------- */

/* --------- Row-21 --------- */
.row-21{
    display: inherit;
    grid-row: 21;
    grid-column: 1 / 51;
}
.row-21 > .sub-2{
    background-color: var(--cat-color);
    grid-column: 2 / 3;
}
.row-21 > .sub-3{
    background-color: var(--ears-color);
    grid-column: 3 / 12;
}
.row-21 > .sub-4{
    background-color: var(--cat-color);
    grid-column: 12 / 18;
}
.row-21 > .sub-5{
    background-color: var(--border);
    grid-column: 18 / 34;
}
.row-21 > .sub-6{
    background-color: var(--cat-color);
    grid-column: 34 / 40;
}
.row-21 > .sub-7{
    background-color: var(--ears-color);
    grid-column: 40 / 49;
}
.row-21 > .sub-8{
    background-color: var(--cat-color);
    grid-column: 49 / 50;
}
.row-21 > .sub-9{
    background-color: var(--border);
    grid-column: 50 / 51;
}
/* --------- End Row-21 --------- */

/* --------- Row-22 --------- */
.row-22{
    display: inherit;
    grid-row: 22;
    grid-column: 1 / 51;
}
.row-22 > .sub-2{
    background-color: var(--cat-color);
    grid-column: 2 / 3;
}
.row-22 > .sub-3{
    background-color: var(--ears-color);
    grid-column: 3 / 12;
}
.row-22 > .sub-4{
    background-color: var(--cat-color);
    grid-column: 12 / 18;
}
.row-22 > .sub-5{
    background-color: var(--color-lines);
    grid-column: 18 / 21;
}
.row-22 > .sub-6{
    background-color: var(--cat-color);
    grid-column: 21 / 24;
}
.row-22 > .sub-7{
    background-color: var(--color-lines);
    grid-column: 24 / 26;
}
.row-22 > .sub-8{
    background-color: var(--cat-color);
    grid-column: 26 / 27;
}
.row-22 > .sub-9{
    background-color: var(--color-lines);
    grid-column: 27 / 31;
}
.row-22 > .sub-10{
    background-color: var(--cat-color);
    grid-column: 31 / 40;
}
.row-22 > .sub-11{
    background-color: var(--ears-color);
    grid-column: 40 / 49;
}
.row-22 > .sub-12{
    background-color: var(--cat-color);
    grid-column: 49 / 50;
}
.row-22 > .sub-13{
    background-color: var(--border);
    grid-column: 50 / 51;
}
/* --------- End Row-22 --------- */

/* --------- Row-23 --------- */
.row-23{
    display: inherit;
    grid-row: 23;
    grid-column: 1 / 51;
}
.row-23 > .sub-2{
    background-color: var(--cat-color);
    grid-column: 2 / 3;
}
.row-23 > .sub-3{
    background-color: var(--ears-color);
    grid-column: 3 / 13;
}
.row-23 > .sub-4{
    background-color: var(--cat-color);
    grid-column: 13 / 18;
}
.row-23 > .sub-5{
    background-color: var(--color-lines);
    grid-column: 18 / 21;
}
.row-23 > .sub-6{
    background-color: var(--cat-color);
    grid-column: 21 / 24;
}
.row-23 > .sub-7{
    background-color: var(--color-lines);
    grid-column: 24 / 26;
}
.row-23 > .sub-8{
    background-color: var(--cat-color);
    grid-column: 26 / 27;
}
.row-23 > .sub-9{
    background-color: var(--color-lines);
    grid-column: 27 / 32;
}
.row-23 > .sub-10{
    background-color: var(--cat-color);
    grid-column: 32 / 39;
}
.row-23 > .sub-11{
    background-color: var(--ears-color);
    grid-column: 39 / 49;
}
.row-23 > .sub-12{
    background-color: var(--cat-color);
    grid-column: 49 / 50;
}
.row-23 > .sub-13{
    background-color: var(--border);
    grid-column: 50 / 51;
}
/* --------- End Row-23 --------- */

/* --------- Row-24 --------- */
.row-24{
    display: inherit;
    grid-row: 24;
    grid-column: 1 / 51;
}
.row-24 > .sub-2{
    background-color: var(--cat-color);
    grid-column: 2 / 3;
}
.row-24 > .sub-3{
    background-color: var(--ears-color);
    grid-column: 3 / 13;
}
.row-24 > .sub-4{
    background-color: var(--cat-color);
    grid-column: 13 / 18;
}
.row-24 > .sub-5{
    background-color: var(--color-lines);
    grid-column: 18 / 21;
}
.row-24 > .sub-6{
    background-color: var(--cat-color);
    grid-column: 21 / 24;
}
.row-24 > .sub-7{
    background-color: var(--color-lines);
    grid-column: 24 / 26;
}
.row-24 > .sub-8{
    background-color: var(--cat-color);
    grid-column: 26 / 27;
}
.row-24 > .sub-9{
    background-color: var(--color-lines);
    grid-column: 27 / 32;
}
.row-24 > .sub-10{
    background-color: var(--cat-color);
    grid-column: 32 / 39;
}
.row-24 > .sub-11{
    background-color: var(--ears-color);
    grid-column: 39 / 49;
}
.row-24 > .sub-12{
    background-color: var(--cat-color);
    grid-column: 49 / 50;
}
.row-24 > .sub-13{
    background-color: var(--border);
    grid-column: 50 / 51;
}
/* --------- End Row-24 --------- */

/* --------- Row-25 --------- */
.row-25{
    display: inherit;
    grid-row: 25;
    grid-column: 1 / 51;
}
.row-25 > .sub-2{
    background-color: var(--cat-color);
    grid-column: 2 / 3;
}
.row-25 > .sub-3{
    background-color: var(--ears-color);
    grid-column: 3 / 12;
}
.row-25 > .sub-4{
    background-color: var(--cat-color);
    grid-column: 12 / 17;
}
.row-25 > .sub-5{
    background-color: var(--color-lines);
    grid-column: 17 / 21;
}
.row-25 > .sub-6{
    background-color: var(--cat-color);
    grid-column: 21 / 24;
}
.row-25 > .sub-7{
    background-color: var(--color-lines);
    grid-column: 24 / 25;
}
.row-25 > .sub-8{
    background-color: var(--cat-color);
    grid-column: 25 / 27;
}
.row-25 > .sub-9{
    background-color: var(--color-lines);
    grid-column: 27 / 33;
}
.row-25 > .sub-10{
    background-color: var(--cat-color);
    grid-column: 33 / 40;
}
.row-25 > .sub-11{
    background-color: var(--ears-color);
    grid-column: 40 / 49;
}
.row-25 > .sub-12{
    background-color: var(--cat-color);
    grid-column: 49 / 50;
}
.row-25 > .sub-13{
    background-color: var(--border);
    grid-column: 50 / 51;
}
/* --------- End Row-25 --------- */

/* --------- Row-26 --------- */
.row-26{
    display: inherit;
    grid-row: 26;
    grid-column: 1 / 51;
}
.row-26 > .sub-2{
    background-color: var(--cat-color);
    grid-column: 2 / 3;
}
.row-26 > .sub-3{
    background-color: var(--ears-color);
    grid-column: 3 / 11;
}
.row-26 > .sub-4{
    background-color: var(--cat-color);
    grid-column: 11 / 17;
}
.row-26 > .sub-5{
    background-color: var(--color-lines);
    grid-column: 17 / 21;
}
.row-26 > .sub-6{
    background-color: var(--cat-color);
    grid-column: 21 / 24;
}
.row-26 > .sub-7{
    background-color: var(--color-lines);
    grid-column: 24 / 25;
}
.row-26 > .sub-8{
    background-color: var(--cat-color);
    grid-column: 25 / 28;
}
.row-26 > .sub-9{
    background-color: var(--color-lines);
    grid-column: 28 / 33;
}
.row-26 > .sub-10{
    background-color: var(--cat-color);
    grid-column: 33 / 41;
}
.row-26 > .sub-11{
    background-color: var(--ears-color);
    grid-column: 41 / 49;
}
.row-26 > .sub-12{
    background-color: var(--cat-color);
    grid-column: 49 / 50;
}
.row-26 > .sub-13{
    background-color: var(--border);
    grid-column: 50 / 51;
}
/* --------- End Row-26 --------- */

/* --------- Row-27 --------- */
.row-27{
    display: inherit;
    grid-row: 27;
    grid-column: 1 / 51;
}
.row-27 > .sub-2{
    background-color: var(--cat-color);
    grid-column: 2 / 4;
}
.row-27 > .sub-3{
    background-color: var(--ears-color);
    grid-column: 4 / 11;
}
.row-27 > .sub-4{
    background-color: var(--cat-color);
    grid-column: 11 / 12;
}
.row-27 > .sub-5{
    background-color: var(--color-lines);
    grid-column: 12 / 15;
}
.row-27 > .sub-6{
    background-color: var(--cat-color);
    grid-column: 15 / 16;
}
.row-27 > .sub-7{
    background-color: var(--color-lines);
    grid-column: 16 / 20;
}
.row-27 > .sub-8{
    background-color: var(--cat-color);
    grid-column: 20 / 24;
}
.row-27 > .sub-9{
    background-color: var(--secundary-color);
    grid-column: 24 / 25;
}
.row-27 > .sub-10{
    background-color: var(--cat-color);
    grid-column: 25 / 28;
}
.row-27 > .sub-11{
    background-color: var(--color-lines);
    grid-column: 28 / 29;
}
.row-27 > .sub-12{
    background-color: var(--cat-color);
    grid-column: 29 / 30;
}
.row-27 > .sub-13{
    background-color: var(--cat-color);
    grid-column: 30 / 31;
}
.row-27 > .sub-14{
    background-color: var(--color-lines);
    grid-column: 31 / 34;
}
.row-27 > .sub-15{
    background-color: var(--cat-color);
    grid-column: 34 / 37;
}
.row-27 > .sub-16{
    background-color: var(--color-lines);
    grid-column: 37 / 39;
}
.row-27 > .sub-17{
    background-color: var(--cat-color);
    grid-column: 39 / 41;
}
.row-27 > .sub-18{
    background-color: var(--ears-color);
    grid-column: 41 / 48;
}
.row-27 > .sub-19{
    background-color: var(--cat-color);
    grid-column: 48 / 50;
}
.row-27 > .sub-20{
    background-color: var(--border);
    grid-column: 50 / 51;
}
/* --------- End Row-27 --------- */

/* --------- Row-28 --------- */
.row-28{
    display: inherit;
    grid-row: 28;
    grid-column: 2 / 50;
}
.row-28 > .sub-2{
    background-color: var(--cat-color);
    grid-column: 2 / 3;
}
.row-28 > .sub-3{
    background-color: var(--ears-color);
    grid-column: 3 / 9;
}
.row-28 > .sub-4{
    background-color: var(--cat-color);
    grid-column: 9 / 12;
}
.row-28 > .sub-5{
    background-color: var(--color-lines);
    grid-column: 12 / 14;
}
.row-28 > .sub-6{
    background-color: var(--cat-color);
    grid-column: 14 / 15;
}
.row-28 > .sub-7{
    background-color: var(--color-lines);
    grid-column: 15 / 17;
}
.row-28 > .sub-8{
    background-color: var(--cat-color);
    grid-column: 17 / 18;
}
.row-28 > .sub-9{
    background-color: var(--color-lines);
    grid-column: 18 / 20;
}
.row-28 > .sub-10{
    background-color: var(--cat-color);
    grid-column: 20 / 21;
}
.row-28 > .sub-11{
    background-color: var(--secundary-color);
    grid-column: 21 / 26;
}
.row-28 > .sub-12{
    background-color: var(--cat-color);
    grid-column: 26 / 31;
}
.row-28 > .sub-13{
    background-color: var(--color-lines);
    grid-column: 31 / 33;
}
.row-28 > .sub-14{
    background-color: var(--cat-color);
    grid-column: 33 / 36;
}
.row-28 > .sub-15{
    background-color: var(--color-lines);
    grid-column: 36 / 38;
}
.row-28 > .sub-16{
    background-color: var(--cat-color);
    grid-column: 38 / 41;
}
.row-28 > .sub-17{
    background-color: var(--ears-color);
    grid-column: 41 / 47;
}
.row-28 > .sub-18{
    background-color: var(--cat-color);
    grid-column: 47 / 48;
}
.row-28 > .sub-19{
    background-color: var(--border);
    grid-column: 48 / 49;
}
/* --------- End Row-28 --------- */

/* --------- Row-29 --------- */
.row-29{
    display: inherit;
    grid-row: 29;
    grid-column: 2 / 50;
}
.row-29 > .sub-2{
    background-color: var(--cat-color);
    grid-column: 2 / 3;
}
.row-29 > .sub-3{
    background-color: var(--ears-color);
    grid-column: 3 / 9;
}
.row-29 > .sub-4{
    background-color: var(--cat-color);
    grid-column: 9 / 13;
}
.row-29 > .sub-5{
    background-color: var(--color-lines);
    grid-column: 13 / 14;
}
.row-29 > .sub-6{
    background-color: var(--cat-color);
    grid-column: 14 / 15;
}
.row-29 > .sub-7{
    background-color: var(--color-lines);
    grid-column: 15 / 16;
}
.row-29 > .sub-8{
    background-color: var(--cat-color);
    grid-column: 16 / 18;
}
.row-29 > .sub-9{
    background-color: var(--color-lines);
    grid-column: 18 / 19;
}
.row-29 > .sub-10{
    background-color: var(--secundary-color);
    grid-column: 19 / 28;
}
.row-29 > .sub-11{
    background-color: var(--cat-color);
    grid-column: 28 / 31;
}
.row-29 > .sub-12{
    background-color: var(--color-lines);
    grid-column: 31 / 32;
}
.row-29 > .sub-13{
    background-color: var(--cat-color);
    grid-column: 32 / 35;
}
.row-29 > .sub-14{
    background-color: var(--cat-color);
    grid-column: 35 / 36;
}
.row-29 > .sub-15{
    background-color: var(--color-lines);
    grid-column: 36 / 37;
}
.row-29 > .sub-16{
    background-color: var(--cat-color);
    grid-column: 37 / 41;
}
.row-29 > .sub-17{
    background-color: var(--ears-color);
    grid-column: 41 / 47;
}
.row-29 > .sub-18{
    background-color: var(--cat-color);
    grid-column: 47 / 48;
}
.row-29 > .sub-19{
    background-color: var(--border);
    grid-column: 48 / 49;
}
/* --------- End Row-29 --------- */

/* --------- Row-30 --------- */
.row-30{
    display: inherit;
    grid-row: 30;
    grid-column: 2 / 50;
}
.row-30 > .sub-2{
    background-color: var(--cat-color);
    grid-column: 2 / 4;
}
.row-30 > .sub-3{
    background-color: var(--ears-color);
    grid-column: 4 / 8;
}
.row-30 > .sub-4{
    background-color: var(--cat-color);
    grid-column: 8 / 17;
}
.row-30 > .sub-5{
    background-color: var(--secundary-color);
    grid-column: 17 / 30;
}
.row-30 > .sub-6{
    background-color: var(--cat-color);
    grid-column: 30 / 42;
}
.row-30 > .sub-7{
    background-color: var(--ears-color);
    grid-column: 42 / 46;
}
.row-30 > .sub-8{
    background-color: var(--cat-color);
    grid-column: 46 / 48;
}
.row-30 > .sub-9{
    background-color: var(--border);
    grid-column: 48 / 49;
}
/* --------- End Row-30 --------- */

/* --------- Row-31 --------- */
.row-31{
    display: inherit;
    grid-row: 31;
    grid-column: 2 / 50;
}
.row-31 > .sub-2{
    background-color: var(--cat-color);
    grid-column: 2 / 4;
}
.row-31 > .sub-3{
    background-color: var(--ears-color);
    grid-column: 4 / 8;
}
.row-31 > .sub-4{
    background-color: var(--cat-color);
    grid-column: 8 / 15;
}
.row-31 > .sub-5{
    background-color: var(--secundary-color);
    grid-column: 15 / 32;
}
.row-31 > .sub-6{
    background-color: var(--cat-color);
    grid-column: 32 / 42;
}
.row-31 > .sub-7{
    background-color: var(--ears-color);
    grid-column: 42 / 46;
}
.row-31 > .sub-8{
    background-color: var(--cat-color);
    grid-column: 46 / 48;
}
.row-31 > .sub-9{
    background-color: var(--border);
    grid-column: 48 / 49;
}
/* --------- End Row-31 --------- */

/* --------- Row-32 --------- */
.row-32{
    display: inherit;
    grid-row: 32;
    grid-column: 3 / 49;
}
.row-32 > .sub-2{
    background-color: var(--cat-color);
    grid-column: 2 / 3;
}
.row-32 > .sub-3{
    background-color: var(--ears-color);
    grid-column: 3 / 6;
}
.row-32 > .sub-4{
    background-color: var(--cat-color);
    grid-column: 6 / 9;
}
.row-32 > .sub-5{
    background-color: var(--border);
    grid-column: 9 / 15;
}
.row-32 > .sub-6{
    background-color: var(--secundary-color);
    grid-column: 15 / 32;
}
.row-32 > .sub-7{
    background-color: var(--border);
    grid-column: 32 / 39;
}
.row-32 > .sub-8{
    background-color: var(--cat-color);
    grid-column: 39 / 42;
}
.row-32 > .sub-9{
    background-color: var(--ears-color);
    grid-column: 42 / 45;
}
.row-32 > .sub-10{
    background-color: var(--cat-color);
    grid-column: 45 / 46;
}
.row-32 > .sub-11{
    background-color: var(--border);
    grid-column: 46 / 47;
}
/* --------- End Row-32 --------- */

/* --------- Row-33 --------- */
.row-33{
    display: inherit;
    grid-row: 33;
    grid-column: 3 / 49;
}
.row-33 > .sub-2{
    background-color: var(--cat-color);
    grid-column: 2 / 3;
}
.row-33 > .sub-3{
    background-color: var(--ears-color);
    grid-column: 3 / 5;
}
.row-33 > .sub-4{
    background-color: var(--cat-color);
    grid-column: 5 / 8;
}
.row-33 > .sub-5{
    background-color: var(--border);
    grid-column: 8 / 9;
}
.row-33 > .sub-6{
    background-color: var(--eyes-color);
    grid-column: 9 / 15;
}
.row-33 > .sub-7{
    background-color: var(--border);
    grid-column: 15 / 16;
}
.row-33 > .sub-8{
    background-color: var(--secundary-color);
    grid-column: 16 / 31;
}
.row-33 > .sub-9{
    background-color: var(--border);
    grid-column: 31 / 32;
}
.row-33 > .sub-10{
    background-color: var(--eyes-color);
    grid-column: 32 / 39;
}
.row-33 > .sub-11{
    background-color: var(--border);
    grid-column: 39 / 40;
}
.row-33 > .sub-12{
    background-color: var(--cat-color);
    grid-column: 40 / 43;
}
.row-33 > .sub-13{
    background-color: var(--ears-color);
    grid-column: 43 / 45;
}
.row-33 > .sub-14{
    background-color: var(--cat-color);
    grid-column: 45 / 46;
}
.row-33 > .sub-15{
    background-color: var(--border);
    grid-column: 46 / 47;
}
/* --------- End Row-33 --------- */

/* --------- Row-34 --------- */
.row-34{
    display: inherit;
    grid-row: 34;
    grid-column: 3 / 49;
}
.row-34 > .sub-2{
    background-color: var(--cat-color);
    grid-column: 2 / 7;
}
.row-34 > .sub-3{
    background-color: var(--border);
    grid-column: 7 / 8;
}
.row-34 > .sub-4{
    background-color: var(--eyes-color);
    grid-column: 8 / 16;
}
.row-34 > .sub-5{
    background-color: var(--border);
    grid-column: 16 / 17;
}
.row-34 > .sub-6{
    background-color: var(--secundary-color);
    grid-column: 17 / 30;
}
.row-34 > .sub-7{
    background-color: var(--border);
    grid-column: 30 / 31;
}
.row-34 > .sub-8{
    background-color: var(--eyes-color);
    grid-column: 31 / 40;
}
.row-34 > .sub-9{
    background-color: var(--border);
    grid-column: 40 / 41;
}
.row-34 > .sub-10{
    background-color: var(--cat-color);
    grid-column: 41 / 46;
}
.row-34 > .sub-11{
    background-color: var(--border);
    grid-column: 46 / 47;
}
/* --------- End Row-34 --------- */

/* --------- Row-35 --------- */
.row-35{
    display: inherit;
    grid-row: 35;
    grid-column: 3 / 49;
}
.row-35 > .sub-2{
    background-color: var(--cat-color);
    grid-column: 2 / 6;
}
.row-35 > .sub-3{
    background-color: var(--border);
    grid-column: 6 / 7;
}
.row-35 > .sub-4{
    background-color: var(--eyes-color);
    grid-column: 7 / 17;
}
.row-35 > .sub-5{
    background-color: var(--border);
    grid-column: 17 / 18;
}
.row-35 > .sub-6{
    background-color: var(--secundary-color);
    grid-column: 18 / 29;
}
.row-35 > .sub-7{
    background-color: var(--border);
    grid-column: 29 / 30;
}
.row-35 > .sub-8{
    background-color: var(--eyes-color);
    grid-column: 30 / 41;
}
.row-35 > .sub-9{
    background-color: var(--border);
    grid-column: 41 / 42;
}
.row-35 > .sub-10{
    background-color: var(--cat-color);
    grid-column: 42 / 46;
}
.row-35 > .sub-11{
    background-color: var(--border);
    grid-column: 46 / 47;
}
/* --------- End Row-35 --------- */

/* --------- Row-36 --------- */
.row-36{
    display: inherit;
    grid-row: 36;
    grid-column: 3 / 49;
}
.row-36 > .sub-2{
    background-color: var(--cat-color);
    grid-column: 2 / 6;
}
.row-36 > .sub-3{
    background-color: var(--border);
    grid-column: 6 / 7;
}
.row-36 > .sub-4{
    background-color: var(--eyes-color);
    grid-column: 7 / 14;
}
.row-36 > .sub-5{
    background-color: var(--pupil-color);
    grid-column: 14 / 16;
}
.row-36 > .sub-6{
    background-color: var(--eyes-color);
    grid-column: 16 / 18;
}
.row-36 > .sub-7{
    background-color: var(--border);
    grid-column: 18 / 19;
}
.row-36 > .sub-8{
    background-color: var(--secundary-color);
    grid-column: 19 / 28;
}
.row-36 > .sub-9{
    background-color: var(--border);
    grid-column: 28 / 29;
}
.row-36 > .sub-10{
    background-color: var(--eyes-color);
    grid-column: 29 / 31;
}
.row-36 > .sub-11{
    background-color: var(--pupil-color);
    grid-column: 31 / 33;
}
.row-36 > .sub-12{
    background-color: var(--eyes-color);
    grid-column: 33 / 41;
}
.row-36 > .sub-13{
    background-color: var(--border);
    grid-column: 41 / 42;
}
.row-36 > .sub-14{
    background-color: var(--cat-color);
    grid-column: 42 / 46;
}
.row-36 > .sub-15{
    background-color: var(--border);
    grid-column: 46 / 47;
}
/* --------- End Row-36 --------- */

/* --------- Row-37 --------- */
.row-37{
    display: inherit;
    grid-row: 37;
    grid-column: 3 / 49;
}
.row-37 > .sub-2{
    background-color: var(--cat-color);
    grid-column: 2 / 6;
}
.row-37 > .sub-3{
    background-color: var(--border);
    grid-column: 6 / 7;
}
.row-37 > .sub-4{
    background-color: var(--eyes-color);
    grid-column: 7 / 13;
}
.row-37 > .sub-5{
    background-color: var(--pupil-color);
    grid-column: 13 / 17;
}
.row-37 > .sub-6{
    background-color: var(--eyes-color);
    grid-column: 17 / 18;
}
.row-37 > .sub-7{
    background-color: var(--border);
    grid-column: 18 / 19;
}
.row-37 > .sub-8{
    background-color: var(--secundary-color);
    grid-column: 19 / 28;
}
.row-37 > .sub-9{
    background-color: var(--border);
    grid-column: 28 / 29;
}
.row-37 > .sub-10{
    background-color: var(--eyes-color);
    grid-column: 29 / 30;
}
.row-37 > .sub-11{
    background-color: var(--pupil-color);
    grid-column: 30 / 34;
}
.row-37 > .sub-12{
    background-color: var(--eyes-color);
    grid-column: 34 / 41;
}
.row-37 > .sub-13{
    background-color: var(--border);
    grid-column: 41 / 42;
}
.row-37 > .sub-14{
    background-color: var(--cat-color);
    grid-column: 42 / 46;
}
.row-37 > .sub-15{
    background-color: var(--border);
    grid-column: 46 / 47;
}
/* --------- End Row-37 --------- */

/* --------- Row-38 --------- */
.row-38{
    display: inherit;
    grid-row: 38;
    grid-column: 3 / 49;
}
.row-38 > .sub-2{
    background-color: var(--cat-color);
    grid-column: 2 / 6;
}
.row-38 > .sub-3{
    background-color: var(--border);
    grid-column: 6 / 7;
}
.row-38 > .sub-4{
    background-color: var(--eyes-color);
    grid-column: 7 / 13;
}
.row-38 > .sub-5{
    background-color: var(--pupil-color);
    grid-column: 13 / 17;
}
.row-38 > .sub-6{
    background-color: var(--eyes-color);
    grid-column: 17 / 18;
}
.row-38 > .sub-7{
    background-color: var(--border);
    grid-column: 18 / 19;
}
.row-38 > .sub-8{
    background-color: var(--secundary-color);
    grid-column: 19 / 28;
}
.row-38 > .sub-9{
    background-color: var(--border);
    grid-column: 28 / 29;
}
.row-38 > .sub-10{
    background-color: var(--eyes-color);
    grid-column: 29 / 30;
}
.row-38 > .sub-11{
    background-color: var(--pupil-color);
    grid-column: 30 / 34;
}
.row-38 > .sub-12{
    background-color: var(--eyes-color);
    grid-column: 34 / 41;
}
.row-38 > .sub-13{
    background-color: var(--border);
    grid-column: 41 / 42;
}
.row-38 > .sub-14{
    background-color: var(--cat-color);
    grid-column: 42 / 46;
}
.row-38 > .sub-15{
    background-color: var(--border);
    grid-column: 46 / 47;
}
/* --------- End Row-38 --------- */

/* --------- Row-39 --------- */
.row-39{
    display: inherit;
    grid-row: 39;
    grid-column: 3 / 49;
}
.row-39 > .sub-2{
    background-color: var(--cat-color);
    grid-column: 2 / 6;
}
.row-39 > .sub-3{
    background-color: var(--border);
    grid-column: 6 / 7;
}
.row-39 > .sub-4{
    background-color: var(--eyes-color);
    grid-column: 7 / 13;
}
.row-39 > .sub-5{
    background-color: var(--pupil-color);
    grid-column: 13 / 17;
}
.row-39 > .sub-6{
    background-color: var(--eyes-color);
    grid-column: 17 / 18;
}
.row-39 > .sub-7{
    background-color: var(--border);
    grid-column: 18 / 19;
}
.row-39 > .sub-8{
    background-color: var(--secundary-color);
    grid-column: 19 / 28;
}
.row-39 > .sub-9{
    background-color: var(--border);
    grid-column: 28 / 29;
}
.row-39 > .sub-10{
    background-color: var(--eyes-color);
    grid-column: 29 / 30;
}
.row-39 > .sub-11{
    background-color: var(--pupil-color);
    grid-column: 30 / 34;
}
.row-39 > .sub-12{
    background-color: var(--eyes-color);
    grid-column: 34 / 41;
}
.row-39 > .sub-13{
    background-color: var(--border);
    grid-column: 41 / 42;
}
.row-39 > .sub-14{
    background-color: var(--cat-color);
    grid-column: 42 / 46;
}
.row-39 > .sub-15{
    background-color: var(--border);
    grid-column: 46 / 47;
}
/* --------- End Row-39 --------- */

/* --------- Row-40 --------- */
.row-40{
    display: inherit;
    grid-row: 40;
    grid-column: 3 / 49;
}
.row-40 > .sub-2{
    background-color: var(--cat-color);
    grid-column: 2 / 6;
}
.row-40 > .sub-3{
    background-color: var(--border);
    grid-column: 6 / 7;
}
.row-40 > .sub-4{
    background-color: var(--eyes-color);
    grid-column: 7 / 14;
}
.row-40 > .sub-5{
    background-color: var(--pupil-color);
    grid-column: 14 / 16;
}
.row-40 > .sub-6{
    background-color: var(--eyes-color);
    grid-column: 16 / 18;
}
.row-40 > .sub-7{
    background-color: var(--border);
    grid-column: 18 / 19;
}
.row-40 > .sub-8{
    background-color: var(--secundary-color);
    grid-column: 19 / 28;
}
.row-40 > .sub-9{
    background-color: var(--border);
    grid-column: 28 / 29;
}
.row-40 > .sub-10{
    background-color: var(--eyes-color);
    grid-column: 29 / 31;
}
.row-40 > .sub-11{
    background-color: var(--pupil-color);
    grid-column: 31 / 33;
}
.row-40 > .sub-12{
    background-color: var(--eyes-color);
    grid-column: 33 / 41;
}
.row-40 > .sub-13{
    background-color: var(--border);
    grid-column: 41 / 42;
}
.row-40 > .sub-14{
    background-color: var(--cat-color);
    grid-column: 42 / 46;
}
.row-40 > .sub-15{
    background-color: var(--border);
    grid-column: 46 / 47;
}
/* --------- End Row-40 --------- */

/* --------- Row-41 --------- */
.row-41{
    display: inherit;
    grid-row: 41;
    grid-column: 3 / 49;
}
.row-41 > .sub-2{
    background-color: var(--cat-color);
    grid-column: 2 / 7;
}
.row-41 > .sub-3{
    background-color: var(--border);
    grid-column: 7 / 8;
}
.row-41 > .sub-4{
    background-color: var(--eyes-color);
    grid-column: 8 / 18;
}
.row-41 > .sub-5{
    background-color: var(--border);
    grid-column: 18 / 19;
}
.row-41 > .sub-6{
    background-color: var(--secundary-color);
    grid-column: 19 / 28;
}
.row-41 > .sub-7{
    background-color: var(--border);
    grid-column: 28 / 29;
}
.row-41 > .sub-8{
    background-color: var(--eyes-color);
    grid-column: 29 / 40;
}
.row-41 > .sub-9{
    background-color: var(--border);
    grid-column: 40 / 41;
}
.row-41 > .sub-10{
    background-color: var(--cat-color);
    grid-column: 41 / 46;
}
.row-41 > .sub-11{
    background-color: var(--border);
    grid-column: 46 / 47;
}
/* --------- End Row-41 --------- */

/* --------- Row-42 --------- */
.row-42{
    display: inherit;
    grid-row: 42;
    grid-column: 3 / 49;
}
.row-42 > .sub-2{
    background-color: var(--cat-color);
    grid-column: 2 / 4;
}
.row-42 > .sub-3{
    background-color: var(--color-lines);
    grid-column: 4 / 6;
}
.row-42 > .sub-4{
    background-color: var(--cat-color);
    grid-column: 6 / 8;
}
.row-42 > .sub-5{
    background-color: var(--border);
    grid-column: 8 / 9;
}
.row-42 > .sub-6{
    background-color: var(--eyes-color);
    grid-column: 9 / 17;
}
.row-42 > .sub-7{
    background-color: var(--border);
    grid-column: 17 / 18;
}
.row-42 > .sub-8{
    background-color: var(--secundary-color);
    grid-column: 18 / 22;
}
.row-42 > .sub-9{
    background-color: var(--border);
    grid-column: 22 / 25;
}
.row-42 > .sub-10{
    background-color: var(--secundary-color);
    grid-column: 25 / 29;
}
.row-42 > .sub-11{
    background-color: var(--border);
    grid-column: 29 / 30;
}
.row-42 > .sub-12{
    background-color: var(--eyes-color);
    grid-column: 30 / 39;
}
.row-42 > .sub-13{
    background-color: var(--border);
    grid-column: 39 / 40;
}
.row-42 > .sub-14{
    background-color: var(--cat-color);
    grid-column: 40 / 42;
}
.row-42 > .sub-15{
    background-color: var(--color-lines);
    grid-column: 42 / 44;
}
.row-42 > .sub-16{
    background-color: var(--cat-color);
    grid-column: 44 / 46;
}
.row-42 > .sub-17{
    background-color: var(--border);
    grid-column: 46 / 47;
}
/* --------- End Row-42 --------- */

/* --------- Row-43 --------- */
.row-43{
    display: inherit;
    grid-row: 43;
    grid-column: 3 / 49;
}
.row-43 > .sub-2{
    background-color: var(--cat-color);
    grid-column: 2 / 4;
}
.row-43 > .sub-3{
    background-color: var(--color-lines);
    grid-column: 4 / 6;
}
.row-43 > .sub-4{
    background-color: var(--cat-color);
    grid-column: 6 / 9;
}
.row-43 > .sub-5{
    background-color: var(--border);
    grid-column: 9 / 17;
}
.row-43 > .sub-6{
    background-color: var(--secundary-color);
    grid-column: 17 / 30;
}
.row-43 > .sub-7{
    background-color: var(--border);
    grid-column: 30 / 39;
}
.row-43 > .sub-8{
    background-color: var(--cat-color);
    grid-column: 39 / 42;
}
.row-43 > .sub-9{
    background-color: var(--color-lines);
    grid-column: 42 / 44;
}
.row-43 > .sub-10{
    background-color: var(--cat-color);
    grid-column: 44 / 46;
}
.row-43 > .sub-11{
    background-color: var(--border);
    grid-column: 46 / 47;
}
/* --------- End Row-43 --------- */

/* --------- Row-44 --------- */
.row-44{
    display: inherit;
    grid-row: 44;
    grid-column: 3 / 49;
}
.row-44 > .sub-1{
    background-color: var(--border);
    grid-column: 1 / 3;
}
.row-44 > .sub-2{
    background-color: var(--cat-color);
    grid-column: 3 / 6;
}
.row-44 > .sub-3{
    background-color: var(--secundary-color);
    grid-column: 6 / 42;
}
.row-44 > .sub-4{
    background-color: var(--cat-color);
    grid-column: 42 / 45;
}
.row-44 > .sub-5{
    background-color: var(--border);
    grid-column: 45 / 47;
}
/* --------- End Row-44 --------- */

/* --------- Row-45 --------- */
.row-45{
    display: inherit;
    grid-row: 45;
    grid-column: 3 / 49;
}
.row-45 > .sub-2{
    background-color: var(--secundary-color);
    grid-column: 2 / 3;
}
.row-45 > .sub-3{
    background-color: var(--border);
    grid-column: 3 / 4;
}
.row-45 > .sub-4{
    background-color: var(--secundary-color);
    grid-column: 4 / 44;
}
.row-45 > .sub-5{
    background-color: var(--border);
    grid-column: 44 / 45;
}
.row-45 > .sub-6{
    background-color: var(--secundary-color);
    grid-column: 45 / 46;
}
.row-45 > .sub-7{
    background-color: var(--border);
    grid-column: 46 / 47;
}
/* --------- End Row-45 --------- */

/* --------- Row-46 --------- */
.row-46{
    display: inherit;
    grid-row: 46;
    grid-column: 3 / 49;
}
.row-46 > .sub-2{
    background-color: var(--secundary-color);
    grid-column: 2 / 4;
}
.row-46 > .sub-3{
    background-color: var(--border);
    grid-column: 4 / 5;
}
.row-46 > .sub-4{
    background-color: var(--secundary-color);
    grid-column: 5 / 23;
}
.row-46 > .sub-5{
    background-color: var(--border);
    grid-column: 23 / 24;
}
.row-46 > .sub-6{
    background-color: var(--secundary-color);
    grid-column: 24 / 43;
}
.row-46 > .sub-7{
    background-color: var(--border);
    grid-column: 43 / 44;
}
.row-46 > .sub-8{
    background-color: var(--secundary-color);
    grid-column: 44 / 46;
}
.row-46 > .sub-9{
    background-color: var(--border);
    grid-column: 46 / 47;
}
/* --------- End Row-46 --------- */

/* --------- Row-47 --------- */
.row-47{
    display: inherit;
    grid-row: 47;
    grid-column: 3 / 49;
}
.row-47 > .sub-2{
    background-color: var(--secundary-color);
    grid-column: 2 / 5;
}
.row-47 > .sub-3{
    background-color: var(--moustache);
    grid-column: 5 / 10;
}
.row-47 > .sub-4{
    background-color: var(--secundary-color);
    grid-column: 10 / 22;
}
.row-47 > .sub-5{
    background-color: var(--border);
    grid-column: 22 / 23;
}
.row-47 > .sub-6{
    background-color: var(--language);
    grid-column: 23 / 24;
}
.row-47 > .sub-7{
    background-color: var(--border);
    grid-column: 24 / 25;
}
.row-47 > .sub-8{
    background-color: var(--secundary-color);
    grid-column: 25 / 38;
}
.row-47 > .sub-9{
    background-color: var(--moustache);
    grid-column: 38 / 43;
}
.row-47 > .sub-10{
    background-color: var(--secundary-color);
    grid-column: 43 / 46;
}
.row-47 > .sub-11{
    background-color: var(--border);
    grid-column: 46 / 47;
}
/* --------- End Row-47 --------- */

/* --------- Row-48 --------- */
.row-48{
    display: inherit;
    grid-row: 48;
    grid-column: 2 / 50;
}
.row-48 >.sub-1{
    background-color: var(--moustache);
    grid-column: 1 / 6;
}
.row-48 > .sub-2{
    background-color: var(--secundary-color);
    grid-column: 6 / 7;
}
.row-48 > .sub-3{
    background-color: var(--border);
    grid-column: 7 / 8;
}
.row-48 > .sub-4{
    background-color: var(--secundary-color);
    grid-column: 8 / 11;
}
.row-48 > .sub-5{
    background-color: var(--moustache);
    grid-column: 11 / 13;
}
.row-48 > .sub-6{
    background-color: var(--secundary-color);
    grid-column: 13 / 22;
}
.row-48 > .sub-7{
    background-color: var(--border);
    grid-column: 22 / 23;
}
.row-48 > .sub-8{
    background-color: var(--secundary-color);
    grid-column: 23 / 24;
}
.row-48 > .sub-9{
    background-color: var(--border);
    grid-column: 24 / 25;
}
.row-48 > .sub-10{
    background-color: var(--secundary-color);
    grid-column: 25 / 26;
}
.row-48 > .sub-11{
    background-color: var(--border);
    grid-column: 26 / 27;
}
.row-48 > .sub-12{
    background-color: var(--secundary-color);
    grid-column: 27 / 37;
}
.row-48 > .sub-13{
    background-color: var(--moustache);
    grid-column: 37 / 39;
}
.row-48 > .sub-14{
    background-color: var(--secundary-color);
    grid-column: 39 / 42;
}
.row-48 > .sub-15{
    background-color: var(--border);
    grid-column: 42 / 43;
}
.row-48 > .sub-16{
    background-color: var(--secundary-color);
    grid-column: 43 / 44;
}
.row-48 > .sub-17{
    background-color: var(--moustache);
    grid-column: 44 / 49;
}
/* --------- End Row-48 --------- */

/* --------- Row-49 --------- */
.row-49{
    display: inherit;
    grid-row: 49;
    grid-column: 4 / 48;
}
.row-49 > .sub-2{
    background-color: var(--secundary-color);
    grid-column: 2 / 6;
}
.row-49 > .sub-3{
    background-color: var(--moustache);
    grid-column: 6 / 9;
}
.row-49 > .sub-4{
    background-color: var(--secundary-color);
    grid-column: 9 / 37;
}
.row-49 > .sub-5{
    background-color: var(--moustache);
    grid-column: 37 / 40;
}
.row-49 > .sub-6{
    background-color: var(--secundary-color);
    grid-column: 40 / 44;
}
.row-49 > .sub-7{
    background-color: var(--border);
    grid-column: 44 / 45;
}
/* --------- End Row-49 --------- */

/* --------- Row-50 --------- */
.row-50{
    display: inherit;
    grid-row: 50;
    grid-column: 1 / 51;
}
.row-50 >.sub-1{
    background-color: var(--moustache);
    grid-column: 1 / 9;
}
.row-50 > .sub-2{
    background-color: var(--border);
    grid-column: 9 / 11;
}
.row-50 > .sub-3{
    background-color: var(--secundary-color);
    grid-column: 11 / 41;
}
.row-50 > .sub-4{
    background-color: var(--border);
    grid-column: 41 / 43;
}
.row-50 > .sub-5{
    background-color: var(--moustache);
    grid-column: 43 / 51;
}
/* --------- End Row-50 --------- */

/* --------- Row-51 --------- */
.row-51{
    display: inherit;
    grid-row: 51;
    grid-column: 4 / 48;
}
.row-51 > .sub-2{
    background-color: var(--secundary-color);
    grid-column: 2 / 6;
}
.row-51 > .sub-3{
    background-color: var(--border);
    grid-column: 6 / 7;
}
.row-51 > .sub-4{
    background-color: var(--secundary-color);
    grid-column: 7 / 8;
}
.row-51 > .sub-5{
    background-color: var(--border);
    grid-column: 8 / 10;
}
.row-51 > .sub-6{
    background-color: var(--secundary-color);
    grid-column: 10 / 36;
}
.row-51 > .sub-7{
    background-color: var(--border);
    grid-column: 36 / 38;
}
.row-51 > .sub-8{
    background-color: var(--secundary-color);
    grid-column: 38 / 39;
}
.row-51 > .sub-9{
    background-color: var(--border);
    grid-column: 39 / 40;
}
.row-51 > .sub-10{
    background-color: var(--secundary-color);
    grid-column: 40 / 44;
}
.row-51 > .sub-11{
    background-color: var(--border);
    grid-column: 44 / 45;
}
/* --------- End Row-51 --------- */

/* --------- Row-52 --------- */
.row-52{
    display: inherit;
    grid-row: 52;
    grid-column: 4 / 48;
}
.row-52 > .sub-2{
    background-color: var(--secundary-color);
    grid-column: 2 / 6;
}
.row-52 > .sub-3{
    background-color: var(--border);
    grid-column: 6 / 7;
}
.row-52 > .sub-4{
    background-color: var(--secundary-color);
    grid-column: 7 / 10;
}
.row-52 > .sub-5{
    background-color: var(--border);
    grid-column: 10 / 13;
}
.row-52 > .sub-6{
    background-color: var(--secundary-color);
    grid-column: 13 / 33;
}
.row-52 > .sub-7{
    background-color: var(--border);
    grid-column: 33 / 36;
}
.row-52 > .sub-8{
    background-color: var(--secundary-color);
    grid-column: 36 / 39;
}
.row-52 > .sub-9{
    background-color: var(--border);
    grid-column: 39 / 40;
}
.row-52 > .sub-10{
    background-color: var(--secundary-color);
    grid-column: 40 / 44;
}
.row-52 > .sub-11{
    background-color: var(--border);
    grid-column: 44 / 45;
}
/* --------- End Row-52 --------- */

/* --------- Row-53 --------- */
.row-53{
    display: inherit;
    grid-row: 53;
    grid-column: 4 / 48;
}
.row-53 > .sub-2{
    background-color: var(--secundary-color);
    grid-column: 2 / 6;
}
.row-53 > .sub-3{
    background-color: var(--border);
    grid-column: 6 / 7;
}
.row-53 > .sub-4{
    background-color: var(--secundary-color);
    grid-column: 7 / 13;
}
.row-53 > .sub-5{
    background-color: var(--border);
    grid-column: 13 / 33;
}
.row-53 > .sub-6{
    background-color: var(--secundary-color);
    grid-column: 33 / 39;
}
.row-53 > .sub-7{
    background-color: var(--border);
    grid-column: 39 / 40;
}
.row-53 > .sub-8{
    background-color: var(--secundary-color);
    grid-column: 40 / 44;
}
.row-53 > .sub-9{
    background-color: var(--border);
    grid-column: 44 / 45;
}
/* --------- End Row-53 --------- */

/* --------- Row-54 --------- */
.row-54{
    display: inherit;
    grid-row: 54;
    grid-column: 4 / 48;
}
.row-54 > .sub-2{
    background-color: var(--secundary-color);
    grid-column: 2 / 6;
}
.row-54 > .sub-3{
    background-color: var(--border);
    grid-column: 6 / 7;
}
.row-54 > .sub-4{
    background-color: var(--secundary-color);
    grid-column: 7 / 18;
}
.row-54 > .sub-5{
    background-color: var(--border);
    grid-column: 18 / 19;
}
.row-54 > .sub-6{
    background-color: var(--border);
    grid-column: 26 / 27;
}
.row-54 > .sub-7{
    background-color: var(--secundary-color);
    grid-column: 27 / 39;
}
.row-54 > .sub-8{
    background-color: var(--border);
    grid-column: 39 / 40;
}
.row-54 > .sub-9{
    background-color: var(--secundary-color);
    grid-column: 40 / 44;
}
.row-54 > .sub-10{
    background-color: var(--border);
    grid-column: 44 / 45;
}
/* --------- End Row-54 --------- */

/* --------- Row-55 --------- */
.row-55{
    display: inherit;
    grid-row: 55;
    grid-column: 5 / 47;
}
.row-55 > .sub-2{
    background-color: var(--secundary-color);
    grid-column: 2 / 4;
}
.row-55 > .sub-3{
    background-color: var(--border);
    grid-column: 4 / 5;
}
.row-55 > .sub-4{
    background-color: var(--secundary-color);
    grid-column: 5 / 16;
}
.row-55 > .sub-5{
    background-color: var(--border);
    grid-column: 16 / 17;
}
.row-55 > .sub-6{
    background-color: var(--border);
    grid-column: 26 / 27;
}
.row-55 > .sub-7{
    background-color: var(--secundary-color);
    grid-column: 27 / 39;
}
.row-55 > .sub-8{
    background-color: var(--border);
    grid-column: 39 / 40;
}
.row-55 > .sub-9{
    background-color: var(--secundary-color);
    grid-column: 40 / 42;
}
.row-55 > .sub-10{
    background-color: var(--border);
    grid-column: 42 / 43;
}
/* --------- End Row-55 --------- */

/* --------- Row-56 --------- */
.row-56{
    display: inherit;
    grid-row: 56;
    grid-column: 6 / 46;
}
.row-56 > .sub-1{
    background-color: var(--border);
    grid-column: 1 / 4;
}
.row-56 > .sub-2{
    background-color: var(--secundary-color);
    grid-column: 4 / 14;
}
.row-56 > .sub-3{
    background-color: var(--border);
    grid-column: 14 / 15;
}
.row-56 > .sub-4{
    background-color: var(--border);
    grid-column: 25 / 26;
}
.row-56 > .sub-5{
    background-color: var(--secundary-color);
    grid-column: 26 / 38;
}
.row-56 > .sub-6{
    background-color: var(--border);
    grid-column: 38 / 41;
}
/* --------- End Row-56 --------- */

/* --------- Row-57 --------- */
.row-57{
    display: inherit;
    grid-row: 57;
    grid-column: 8 / 44;
}
.row-57 > .sub-2{
    background-color: var(--secundary-color);
    grid-column: 2 / 11;
}
.row-57 > .sub-3{
    background-color: var(--border);
    grid-column: 11 / 12;
}
.row-57 > .sub-4{
    background-color: var(--border);
    grid-column: 24 / 25;
}
.row-57 > .sub-5{
    background-color: var(--secundary-color);
    grid-column: 25 / 36;
}
.row-57 > .sub-6{
    background-color: var(--border);
    grid-column: 36 / 37;
}
/* --------- End Row-57 --------- */

/* --------- Row-58 --------- */
.row-58{
    display: inherit;
    grid-row: 58;
    grid-column: 7 / 45;
}
.row-58 > .sub-2{
    background-color: var(--secundary-color);
    grid-column: 2 / 12;
}
.row-58 > .sub-3{
    background-color: var(--border);
    grid-column: 12 / 13;
}
.row-58 > .sub-4{
    background-color: var(--border);
    grid-column: 26 / 27;
}
.row-58 > .sub-5{
    background-color: var(--secundary-color);
    grid-column: 27 / 38;
}
.row-58 > .sub-6{
    background-color: var(--border);
    grid-column: 38 / 39;
}
/* --------- End Row-58 --------- */

/* --------- Row-59 --------- */
.row-59{
    display: inherit;
    grid-row: 59;
    grid-column: 7 / 45;
}
.row-59 > .sub-2{
    background-color: var(--secundary-color);
    grid-column: 2 / 11;
}
.row-59 > .sub-3{
    background-color: var(--border);
    grid-column: 11 / 12;
}
.row-59 > .sub-4{
    background-color: var(--border);
    grid-column: 27 / 28;
}
.row-59 > .sub-5{
    background-color: var(--secundary-color);
    grid-column: 28 / 38;
}
.row-59 > .sub-6{
    background-color: var(--border);
    grid-column: 38 / 39;
}
/* --------- End Row-59 --------- */

/* --------- Row-60 --------- */
.row-60{
    display: inherit;
    grid-row: 60;
    grid-column: 7 / 45;
}
.row-60 > .sub-2{
    background-color: var(--secundary-color);
    grid-column: 2 / 11;
}
.row-60 > .sub-3{
    background-color: var(--border);
    grid-column: 11 / 12;
}
.row-60 > .sub-4{
    background-color: var(--border);
    grid-column: 27 / 28;
}
.row-60 > .sub-5{
    background-color: var(--secundary-color);
    grid-column: 28 / 38;
}
.row-60 > .sub-6{
    background-color: var(--border);
    grid-column: 38 / 39;
}
/* --------- End Row-60 --------- */

/* --------- Row-61 --------- */
.row-61{
    display: inherit;
    grid-row: 61;
    grid-column: 7 / 45;
}
.row-61 > .sub-2{
    background-color: var(--secundary-color);
    grid-column: 2 / 9;
}
.row-61 > .sub-3{
    background-color: var(--border);
    grid-column: 9 / 11;
}
.row-61 > .sub-4{
    background-color: var(--border);
    grid-column: 28 / 30;
}
.row-61 > .sub-5{
    background-color: var(--secundary-color);
    grid-column: 30 / 38;
}
.row-61 > .sub-6{
    background-color: var(--border);
    grid-column: 38 / 39;
}
/* --------- End Row-61 --------- */

/* --------- Row-62 --------- */
.row-62{
    display: inherit;
    grid-row: 62;
    grid-column: 8 / 44;
}
.row-62 > .sub-1{
    background-color: var(--border);
    grid-column: 1 / 8;
}
.row-62 > .sub-2{
    background-color: var(--border);
    grid-column: 29 / 37;
}
/* --------- End Row-62 --------- */