@import '../mixin';

$row:(
    numberRow: 10,
    sizeRow: #{21} / #{29}
);

$sub: (
    2: (
        valueColor: var(--cat-color),
        valueSize:(
            begin: 2,
            finish: 8
        )
    ),
    3: (
        valueColor: var(--border),
        valueSize: (
            begin: 8,
            finish: 9
        )
    )
);

$minSub : 2;

$maxSub: 3;

@include createRow($row, $sub, $minSub, $maxSub);