@import '../create-row';

$row:(
    numberRow: 47,
    sizeRow: #{3} / #{49}
);

$sub: (
    2: (
        valueColor: var(--secundary-color),
        valueSize:(
            begin:  2,
            finish: 5
        )
    ),
    3: (
        valueColor: var(--moustache),
        valueSize: (
            begin:  5,
            finish: 10
        )
    ),
    4: (
        valueColor: var(--secundary-color),
        valueSize: (
            begin: 10,
            finish: 22
        )
    ),
    5: (
        valueColor: var(--border),
        valueSize: (
            begin: 22,
            finish: 23
        )
    ),
    6: (
        valueColor: var(--language),
        valueSize: (
            begin: 23,
            finish: 24
        )
    ),
    7: (
        valueColor: var(--border),
        valueSize: (
            begin: 24,
            finish: 25
        )
    ),
    8: (
        valueColor: var(--secundary-color),
        valueSize: (
            begin: 25,
            finish: 38
        )
    ),
    9: (
        valueColor: var(--moustache),
        valueSize: (
            begin: 38,
            finish: 43
        )
    ),
    10: (
        valueColor: var(--secundary-color),
        valueSize: (
            begin: 43,
            finish: 46
        )
    ),
    11: (
        valueColor: var(--border),
        valueSize: (
            begin: 46,
            finish: 47
        )
    )
);

$minSub : 2;

$maxSub: 11;

@include createRow($row, $sub, $minSub, $maxSub);