@import '../create-row';

$row:(
    numberRow: 54,
    sizeRow: #{4} / #{48}
);

$sub: (
    2: (
        valueColor: var(--secundary-color),
        valueSize:(
            begin:  2,
            finish: 6
        )
    ),
    3: (
        valueColor: var(--border),
        valueSize: (
            begin:  6,
            finish: 7
        )
    ),
    4: (
        valueColor: var(--secundary-color),
        valueSize: (
            begin: 7,
            finish: 18
        )
    ),
    5: (
        valueColor: var(--border),
        valueSize: (
            begin: 18,
            finish: 19
        )
    ),
    6: (
        valueColor: var(--border),
        valueSize: (
            begin: 26,
            finish: 27
        )
    ),
    7: (
        valueColor: var(--secundary-color),
        valueSize: (
            begin: 27,
            finish: 39
        )
    ),
    8: (
        valueColor: var(--border),
        valueSize: (
            begin: 39,
            finish: 40
        )
    ),
    9: (
        valueColor: var(--secundary-color),
        valueSize: (
            begin: 40,
            finish: 44
        )
    ),
    10: (
        valueColor: var(--border),
        valueSize: (
            begin: 44,
            finish: 45
        )
    )
);

$minSub : 2;

$maxSub: 10;

@include createRow($row, $sub, $minSub, $maxSub);