@import '../create-row';

$row:(
    numberRow: 27,
    sizeRow: #{1} / #{51}
);

$sub: (
    2: (
        valueColor: var(--cat-color),
        valueSize:(
            begin:  2,
            finish: 4
        )
    ),
    3: (
        valueColor: var(--ears-color),
        valueSize: (
            begin:  4,
            finish: 11
        )
    ),
    4: (
        valueColor: var(--cat-color),
        valueSize: (
            begin: 11,
            finish: 12
        )
    ),
    5: (
        valueColor: var(--color-lines),
        valueSize: (
            begin: 12,
            finish: 15
        )
    ),
    6: (
        valueColor: var(--cat-color),
        valueSize: (
            begin: 15,
            finish: 16
        )
    ),
    7: (
        valueColor: var(--color-lines),
        valueSize: (
            begin: 16,
            finish: 20
        )
    ),
    8: (
        valueColor: var(--cat-color),
        valueSize: (
            begin: 20,
            finish: 24
        )
    ),
    9: (
        valueColor: var(--secundary-color),
        valueSize: (
            begin: 24,
            finish: 25
        )
    ),
    10: (
        valueColor:var(--cat-color),
        valueSize: (
            begin: 25,
            finish: 28
        )
    ),
    11: (
        valueColor: var(--color-lines),
        valueSize: (
            begin: 28,
            finish: 29
        )
    ),
    12: (
        valueColor: var(--cat-color),
        valueSize: (
            begin: 29,
            finish: 31
        )
    ),
    13: (
        valueColor: var(--color-lines),
        valueSize: (
            begin: 31,
            finish: 34
        )
    ),
    14: (
        valueColor: var(--cat-color),
        valueSize: (
            begin: 34,
            finish: 37
        )
    ),
    15: (
        valueColor: var(--color-lines),
        valueSize: (
            begin: 37,
            finish: 39
        )
    ),
    16: (
        valueColor:var(--cat-color),
        valueSize: (
            begin: 39,
            finish: 41
        )
    ),
    17: (
        valueColor: var(--ears-color),
        valueSize: (
            begin: 41,
            finish: 48
        )
    ),
    18: (
        valueColor: var(--cat-color),
        valueSize: (
            begin: 48,
            finish: 50
        )
    ),
    19: (
        valueColor: var(--border),
        valueSize: (
            begin: 50,
            finish: 51
        )
    )
);

$minSub : 2;

$maxSub: 19;

@include createRow($row, $sub, $minSub, $maxSub);