@import '../create-row';

$row:(
    numberRow: 7,
    sizeRow: #{23} / #{31}
);

$sub: (
    2: (
        valueColor: var(--cat-color),
        valueSize:(
            begin: 2,
            finish: 4
        )
    ),
    3: (
        valueColor: var(--color-lines),
        valueSize: (
            begin: 4,
            finish: 8
        )
    ),
    4: (
        valueColor: var(--border),
        valueSize: (
            begin: 8,
            finish: 9
        )
    )
);

$minSub : 2;

$maxSub: 4;

@include createRow($row, $sub, $minSub, $maxSub);