:root{
    --grid-size: 10px;
    --border: #292929;
    --cat-color: #ADA1A1;
    --secundary-color: #F6ECEC;
    --color-lines: #BE2D2D;
    --ears-color: #F3ADB9;
    --pupil-color: #3F8417;
    --eyes-color: #FBFBFB;
    --moustache: #4B1801;
    --language: #{rgb(233, 7, 7)};
}